////
// Griss cells order
// v0.1.0 | MIT
//

// Settings
// ---------------------------------------------------------------- //

// Cells
// -------------------------------------------- //

$griss-cells: (
  halves: 2,
  thirds: 3,
  fourths: 4,
  fifths: 5,
  sixths: 6
) !default;

// Breakpoints
// -------------------------------------------- //

$griss-breakpoints: (
  small: (
    keyword: 's',
    value: 30em
  ),
  medium: (
    keyword: 'm',
    value: 48em
  ),
  large: (
    keyword: 'l',
    value: 64em
  )
) !default;

// Cells
// ---------------------------------------------------------------- //

@each $cells, $cell in $griss-cells {
  @for $num from 1 through ($cell - 1) {
    .gs-Grid-cell--push\(#{$num}\/#{$cell}\) {
      position: relative;
      left: percentage($num / $cell);
    }

    .gs-Grid-cell--pull\(#{$num}\/#{$cell}\) {
      position: relative;
      right: percentage($num / $cell);
    }
  }
}

@each $breakpoints, $breakpoint in $griss-breakpoints {
  @media (min-width: map-get($breakpoint, value)) {
    .gs-Grid-cell--push\(n\)\@#{map-get($breakpoint, keyword)} {
      position: relative;
      left: auto;
    }

    .gs-Grid-cell--pull\(n\)\@#{map-get($breakpoint, keyword)} {
      position: relative;
      right: auto;
    }

    @each $cells, $cell in $griss-cells {
      @for $num from 1 through ($cell - 1) {
        .gs-Grid-cell--push\(#{$num}\/#{$cell}\)\@#{map-get($breakpoint, keyword)} {
          position: relative;
          left: percentage($num / $cell);
        }

        .gs-Grid-cell--pull\(#{$num}\/#{$cell}\)\@#{map-get($breakpoint, keyword)} {
          position: relative;
          right: percentage($num / $cell);
        }
      }
    }
  }
}
